.container {
  width: 100%;
  max-width: 1312px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0px auto;
}

.home-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1312px;
  color: var(--secondary-white-smoke);
  font-weight: 500;
  line-height: 1.333;
}

.header-container,
.favorites-page-container,
.catalog-page-container {
  max-width: 1312px;
}
