.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop);
  z-index: 100;
}

.container {
  width: 982px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: inline-flex; */

  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--primary-white);
  z-index: 101;
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;

  border: none;
  background: none;
  cursor: pointer;
  z-index: 200;
}

.card-modal {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
