.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.filtersBox {
  max-width: max-content;

  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--secondary-light-grey);
}

.modal-services {
  max-width: 430px;
  margin-bottom: 44px;
}
