.modalContentWrapper {
  /* max-height: 608px;
  overflow-y: scroll; */
}

.scrollContainer {
  position: relative;
  max-height: 608px;
  overflow-y: scroll;
  padding-right: 15px;

  /* overflow-anchor: none;
  transform: translate3d(0, 0, 0);
  --webkit-transform: translateZ(0); */
}

.tabsFormWrapper {
  display: inline-flex;
  gap: 22px;
  /* padding-right: 20px; */
}

.stickyHeader {
  position: sticky;
  top: 0;
  top: -1px;

  z-index: 200;

  background-color: var(--primary-white);
  height: 40px;

  /* line-height: 1.25; */

  /* font-size: 24px; */

  /* padding-top: 10px; */
  /* padding-bottom: 10px; */

  /* width: 100%; */
  /* padding: 14px 0px 10px; */
  /* overflow-anchor: none; */
  /* overflow: hidden; */
  /* height: 40px; */
  /* transform: translate3d(0, 0, 0);
  --webkit-transform: translateZ(0); */
  /* right: 0;
  bottom: 0;
  left: 0; */

  /* height: fit-content; */
}

.cardTitle {
  /* position: fixed; */

  font-size: 24px;
  font-weight: 600;

  line-height: 1.25;
  padding-bottom: 10px;

  /* padding-bottom: 10px; */

  /* height: 100%; */
  /* padding-bottom: 10px; */
  /* height: 40px; */
}

.iconsReviewsLocationBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.reviewsText {
  border-bottom: 1px solid currentColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 16px;
  margin-left: 4px;
}

.locationText {
  composes: reviewsText;
  border: none;
  margin-left: 4px;
}

.priceText {
  composes: cardTitle;
  margin-bottom: 24px;
}

.galleryWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}

.imagesBox {
  width: 290px;
  height: 310px;
  overflow: hidden;
  background-color: var(--secondary-light-grey);
  border-radius: 10px;
}

.imagesBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.detailsText {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-gray);
  margin-bottom: 44px;
}

.tabsList {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: var(--primary-dark);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  border-bottom: var(--border-gray);
  margin-bottom: 44px;
}

.tabItem {
  padding-bottom: 24px;
  cursor: pointer;
  position: relative;
}

.currentTab::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--secondary-red);
  width: 100%;
  height: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.5);
}
