.bookingFormContainer {
  position: sticky;
  top: 0;
  width: 450px;
  /* max-height: 534px; */
  max-height: 606px;

  padding: 24px;
  border: var(--border-gray);
  border-radius: 10px;
}

.bookingFormTitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.bookingFormText {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-gray);
}

.inputWrapper {
  position: relative;
  padding-bottom: 24px;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  /* width: 400px; */
  padding: 18px;
  border-radius: 10px;
  background-color: var(--secondary-white-smoke);
  outline: none;
  border: none;
  color: var(--primary-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input:focus {
  outline: none;
}

.errorInput {
  color: var(--secondary-red);
}
