.bookingFormContainer {
  box-sizing: border-box;
  max-height: 534px;
  padding: 24px;
  border: var(--border-gray);
  width: 450px;
  border-radius: 10px;
}

.bookingFormTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}

.bookingFormText {
  color: var(--primary-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.inputWrapper {
  padding-bottom: 24px;
  position: relative;
}

.input {
  box-sizing: border-box !important;
  width: 400px;
  display: flex;
  padding: 18px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--secondary-white-smoke);
  outline: none;
  border: none;
  color: var(--primary-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.input:focus {
  outline: none;
}

.errorInput {
  color: var(--secondary-red);
}
