.contentContainer {
  position: relative;
  width: auto;
  max-height: 548px;
  margin-bottom: 40px;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-gray);
  background-image: linear-gradient(#2e2f42b3, rgba(46, 47, 66, 0.7)),
    url('../../assets/static/images/bg-home.jpg');
  margin: 0 auto;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroContainer {
  color: var(--secondary-white-smoke);
  font-weight: 500;
  line-height: 1.333;
}

.heroTitle {
  margin-bottom: 10px;
  color: var(--secondary-yellow);
  font-size: 100px;
  line-height: 1.333;
  font-style: normal;
}

.heroText {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.4;
  max-width: 948px;
}

.heroSubTitle {
  font-size: 34px;
  margin-bottom: 20px;
}

.spanText {
  display: block;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 600;
}

.heroBtn {
  max-width: max-content;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 16px 40px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  border-radius: 200px;
  background-color: var(--secondary-red);
  color: var(--primary-white);
  transition: var(--transition);
  width: auto;
  letter-spacing: -0.08px;
  outline: none;
}

.heroBtn:is(:hover, :focus) {
  background-color: var(--hover-red);
}

.activeHeroBtn {
  background-color: var(--hover-red);
}
